<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); -%>
  </head>
  <body>
    <%- include('partials/navigation'); -%> <%- include('partials/header'); -%>
    <center style="height: 800px">
      <h1 id="header" class="waviy">
        <span style="--i: 0">A</span>
        <span style="--i: 1">b</span>
        <span style="--i: 2">o</span>
        <span style="--i: 3">u</span>
        <span style="--i: 4">t</span>
      </h1>
      <hr />

      <div
        style="
          display: flex;
          padding: 10px;
          margin-top: 40px;
          justify-content: center;
        "
      >
        <div
          style="
            height: 80vh;
            min-width: 40%;
            flex: 0;
            border-style: solid;
            padding: 10px;
            margin-right: 30px;
            border-radius: 5px;
          "
        >
          <div style="display: flex; justify-content: center; margin: 5px;">
            <button style="width: 50px; font-size: 20px; margin: 10px; background-color: white; border-radius: 5px;" id="decrementLeft"><</button>
            <h1 style="margin: 10px;" id="homeHead">Home</h1>
            <h1 style="margin: 10px; display: none;" id="onlineHead">Online</h1>
            <h1 style="margin: 10px; display: none;" id="commentHead">Comment</h1>
            <button style="width: 50px; font-size: 20px; margin: 10px; background-color: white; border-radius: 5px;" id="incrementLeft">></button>
          </div>
          <hr />
          <p id="homeParagraph" style="font-size: 30px;">
            A page where you're directed to from the click of button 'start' on the index page.
          </p>
          <p id="onlineParagraph" style="display: none; font-size: 30px;">
            A page where you see the online logged in users and your friends list.
          </p>
          <p id="commentParagraph" style="display: none; font-size: 30px;">
            A page where you comment on the occupation and like others comment as well as reply.
          </p>
        </div>
        <div
          style="
            height: 80vh;
            min-width: 40%;
            flex: 0;
            border-style: solid;
            padding: 10px;
            margin-left: 30px;
            border-radius: 5px;
          "
        >
          <div style="display: flex; justify-content: center; margin: 5px;">
            <button style="width: 50px; font-size: 20px; margin: 10px; background-color: white; border-radius: 5px;" id="decrementRight"><</button>
            <h1 style="margin: 10px" id="chatHead">Chat</h1>
            <h1 style="margin: 10px; display: none;" id="chartHead">Chart</h1>
            <h1 style="margin: 10px; display: none;" id="contactHead">Contact</h1>
            <button style="width: 50px; font-size: 20px; margin: 10px; background-color: white; border-radius: 5px;" id="incrementRight">></button>
          </div>
          <hr />
          <p id="chatParagraph" style="font-size: 30px;">
            A page where you chat with your friends.
          </p>
          <p id="chartParagraph" style="display: none; font-size: 30px;">
            A page where you see how many times they've been accessing to the the page and commenting on the occupations.
          </p>
          <p id="contactParagraph" style="display: none; font-size: 30px;">
            A function that opens the e-mail program and has my e-mail address.
          </p>
        </div>
      </div>
    </center>
    <%- include('partials/footer'); -%>
  </body>
  <%- include('partials/script'); -%>
  <script src="about.js"></script>
</html>