<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); -%>
  </head>
  <body>
    <%- include('partials/navigation'); -%> <%- include('partials/header'); -%>
    <center id="commentCenterTag">
      <h1 id="occupationTitle"></h1>
      <% if(user !== undefined){ %>
      <div id="inputAndCommentBtn">
        <input type="text" id="userInput" placeholder="Comment here..." />
        <button id="commentBtn">></button>
      </div>
      <% } %>
      <hr />
    </center>
    <%- include('partials/footer'); -%>
  </body>
  <%- include('partials/script'); -%>
  <script src="comment.js"></script>
</html>
