<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); -%>
  </head>
  <body>
    <div style="display: none" id="comments"><%= comments %></div>
    <div style="display: none" id="likes"><%= likes %></div>
    <%- include('partials/navigation'); -%> <%- include('partials/header'); -%>
    <center id="commentCenterTag">
      <h1 id="majorTitle"></h1>
      <hr />
      <% if(user !== undefined){ %>
      <div id="inputAndCommentBtn">
        <input type="text" id="userInput" placeholder="Comment here..." />
        <button id="commentBtn">></button>
      </div>
      <% } %>
      <table
        class="table"
        id="myTable"
        border="1"
        style="margin: 20px; width: 90%"
      >
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Comment</th>
            <th scope="col">Date</th>
            <th scope="col">Likes</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr></tr>
        </tbody>
      </table>
      <hr />
    </center>
    <%- include('partials/footer'); -%>
  </body>
  <%- include('partials/script'); -%>
  <script src="comment.js"></script>
</html>
