<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); -%>
</head>
<body>
    <%- include('partials/navigation'); -%>
    <%- include('partials/header'); -%>
    <center style="height: 800px;">
        <img src='../img/occupation.webp' style='width: 100%; margin-top: -3px;'>
        <div class="Wrapper">
            <div class="Input">
            <div id="autocomplete">
                <input type="text" id="input" autocomplete="off" class="Input-text" placeholder="Occupation, e.g. Software Engineer">
                <ul id="options"></ul>
            </div>
              <label for="input" class="Input-label">Occupation</label>
            </div>
        </div>
        <p id="homeParagraphTag">Getting to know about the occupation has never been this easy before.</p>
        <!-- <div style="padding: 30px; overflow-y: scroll; height: 84vh; margin-top: -20px;">
                <table id="occupationTable"></table>
        </div> -->
    </center>
    <%- include('partials/footer'); -%>
</body>
<%- include('partials/script'); -%>
<script src="/js/home.js"></script>
</html>