<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); -%>
  </head>
  <body>
    <div style="display: none" id="onlineUsers"><%= onlineUsers %></div>
    <%- include('partials/navigation'); -%> <%- include('partials/header'); -%>
    <center style="height: 1100px">
      <h1 id="header" class="waviy">
        <span style="--i: 0">O</span>
        <span style="--i: 1">n</span>
        <span style="--i: 2">l</span>
        <span style="--i: 3">i</span>
        <span style="--i: 4">n</span>
        <span style="--i: 5">e</span>
      </h1>
      <hr />
      <table
        class="table"
        id="myTable"
        border="1"
        style="margin: 20px; width: 90%"
      >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Major</th>
            <th scope="col">Country</th>
          </tr>
        </thead>
        <tbody>
          <tr></tr>
        </tbody>
      </table>
    </center>

    <div class="modal fade" id="showOtherUserProfileModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <% if(user === ''){ %>
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
            <% } else{ %>
            <button
              type="button"
              class="btn btn-default loginBtn"
              onclick="requestFriends()"
            >
              Request friends
            </button>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/footer'); -%>
  </body>
  <%- include('partials/script'); -%>
  <script src="online.js"></script>
</html>
