<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); -%>
</head>
<body>
    <%- include('partials/navigation'); -%>
    <%- include('partials/header'); -%>
    <center style="height: 800px;">
        <h1 id="header" class="waviy" style="color: black;">
            <span style="--i:1">C</span>
            <span style="--i:2">o</span>
            <span style="--i:3">m</span>
            <span style="--i:4">m</span>
            <span style="--i:5">e</span>
            <span style="--i:6">n</span>
            <span style="--i:7">t</span>
            <span style="--i:8">-</span>
            <span style="--i:9">O</span>
            <span style="--i:10">n</span>
            <span style="--i:11">-</span>
            <span style="--i:12">Y</span>
            <span style="--i:13">o</span>
            <span style="--i:14">u</span>
            <span style="--i:15">r</span>
            <span style="--i:16">-</span>
            <span style="--i:17">O</span>
            <span style="--i:18">c</span>
            <span style="--i:19">u</span>
            <span style="--i:20">p</span>
            <span style="--i:21">a</span>
            <span style="--i:22">t</span>
            <span style="--i:23">i</span>
            <span style="--i:24">o</span>
            <span style="--i:25">n</span>
        </h1>
        <input type="text" id="userInput" placeholder="Search here..." style="width: 60vh; font-size: 30px;"><hr>
        <div style="padding: 30px; overflow-y: scroll; height: 84vh; margin-top: -20px;">
                <table id="occupationTable"></table>
        </div>
    </center><br><br>
    <%- include('partials/footer'); -%>
</body>
<%- include('partials/script'); -%>
<script src="/js/home.js"></script>
</html>