<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); -%>
  </head>
  <body>
    <%- include('partials/navigation'); -%> <%- include('partials/header'); -%>
    <center style="height: 800px">
      <h1 id="header" class="waviy">
        <span style="--i: 0">O</span>
        <span style="--i: 1">n</span>
        <span style="--i: 2">l</span>
        <span style="--i: 3">i</span>
        <span style="--i: 4">n</span>
        <span style="--i: 5">e</span>
      </h1>
      <hr />

      <div
        style="
          display: flex;
          padding: 10px;
          margin-top: 40px;
          justify-content: center;
        "
      >
        <div
          style="
            height: 80vh;
            min-width: 40%;
            flex: 0;
            border-style: solid;
            padding: 10px;
            margin-right: 30px;
            border-radius: 5px;
          "
        >
          <h1>Friends List</h1>
          <hr />
          <table
            id="friendsList"
            class="table table-striped header-fixed"
          ></table>
        </div>
        <div
          style="
            height: 80vh;
            min-width: 40%;
            flex: 0;
            border-style: solid;
            padding: 10px;
            margin-left: 30px;
            border-radius: 5px;
          "
        >
          <h1>Online Users</h1>
          <hr />
          <table
            id="loggedinUser"
            class="table table-striped header-fixed"
          ></table>
        </div>
      </div>
    </center>

    <div class="modal fade" id="showOtherUserProfileModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <% if(user === ''){ %>
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
            <% } else{ %>
            <button
              type="button"
              class="btn btn-default loginBtn"
              onclick="requestFriends()"
            >
              Request friends
            </button>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/footer'); -%>
  </body>
  <%- include('partials/script'); -%>
  <script src="js/online.js"></script>
</html>
